@model Mulligan.Core.Models.TeeSet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeeSet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Par)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Par)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BogeyRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BogeyRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontSlope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontSlope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackSlope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackSlope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
